.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-cursos {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-between;
}

.cabecalhoPrincipal-nav {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  flex-flow: column wrap;
  height: 260px;
  column-gap: 100px;
}

.conteudoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
  width: 22%;
  margin-bottom: 20px;
}

.videoSobre .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoSobre-sobre {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1 !important;
}

.videoSobre-video {
  flex-grow: 1;
}

.videoSobre-button {
  margin-top: 90px;
}

@media(max-width: 768px) {
  .cabecalhoPrincipal-nav {
    display: flex;
    flex-direction: column;
  }

  .cabecalhoPrincipal .container {
    display: flex;
    flex-direction: column;
    align-items: initial;
    text-align: center;
  }

  .conteudoPrincipal-cursos {
    flex-direction: column;
  }

  .conteudoPrincipal-cursos-link {
    width: 100%;
  }

  .rodapePrincipal-navMap-list {
    height: auto;
  }

  .rodapePrincipal-patrocinadores .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rodapePrincipal-patrocinadores-list {
    width: 100%;
    justify-content: normal;
    gap: 6px;
  }

  .rodapePrincipal-contatoForm {
    width: 100%;
  }

  .rodapePrincipal-contatoForm-legend {
    margin: 10px auto;
  }

  .rodapePrincipal-contatoForm-fieldset {
    justify-content: center;
  }

  .cabecalhoPrincipal-nav-link-app {
    order: -1;
  }

  .videoSobre .container {
    flex-direction: column;
    margin: 0 auto;
  }
}